.contacts-list {
  list-style: none;
  padding: 0;
}

.contacts-list__list-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-radius: 5px;
}

.contacts-list__list-item:nth-child(even) {
  background: lightgrey
}